.btn-play {
  display: flex;
  justify-content: center;
}

.board {
  background: red;
}

.squares {
  height: 50px;
  background: white;
  border: 1px solid black;
}

.no-margin {
  margin-bottom: 0;
}
