.btn-play {
  display: flex;
  justify-content: center;
}

/*.board {
  background: red;
}*/

.squares {
  height: 37px;
  background: white;
  border: 1px solid black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.animalImage {
  width: 90px;
  height: 90px;
}

.board .squares {
  height: 50px;
}

.squares.red {
  background-color: white !important;
  color: red;
}

.squares.blue {
  background-color: white !important;
  color: blue;
}

.cardPreviewSel {
  border: 4px solid #424242;
}

.squares.canMove:hover {
  background-color: #b2ff59 !important;
}

.movesToChose {
  background-color: #f06292 !important;
}




/**/
